* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    list-style: none;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100%;
    min-height: 100vh;
}

nav { 
    height: 150px;

}


section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p a {
    margin: 0 50px;
}

.contingut {
    border: 1px solid #dcf4fa;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    background-color: rgba(235, 236, 236, 0.137);
    width: 500px;
    color: rgb(223, 221, 221);
    text-align: center;
    height: 100%;
}

form p {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

form input, select{
    margin-bottom: 10px;
    height: 40px;
    border: none;
    padding: 5px;
}

#buto {
    background-color: rgba(145, 255, 102, 0.842);
    height: 50px;
    font-size: 16px;
    font-weight: 500;
}

form a, a:link, a:visited, a:active {
    text-decoration:none;
    color: rgb(223, 221, 221);
}

nav {
    display: flex;
    flex-direction: row;
    height: 80px;
    padding: 0 10px;
}

.menu {height: 100px;}

hr {
    border: 2px solid rgba(223, 223, 223, 0.884);
    border-radius: 5px;
    margin: 0 1%;
} 

nav i {
    font-size: 35px;
    margin: 15px;
}

nav .lista {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.opcions {
    text-align: center;
}

table, th, td, tr {
    border: 1px solid rgba(223, 223, 223, 0.884);
    border-collapse: collapse;
    
}